body {
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

/* login page */
#Login .flash-message {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    z-index: 1000;
}